.site-article {
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem;
    &__headline {
        padding: 2rem 0 1rem 0;
        font-weight: 900;
        font-size: 1.4rem;
    }
    &__img {
        max-width: 15rem;
    }
    &__text {
        color: gray;
        margin-top: auto;
    }
    &__link {
        color: orange;
        font-weight: bold;
    }
}
